@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 38, 38, 38;
  --background-rgb: 245, 245, 245;
  --main-green: #00934a;
}

::selection {
  color: rgb(245, 245, 245);
  background: #00934a;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

*:focus {
  outline: none;
}

input[type="checkbox"] {
  transform: scale(1.5);
}

select {
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='rgb(var(--foreground-rgb))' xmlns='http://www.w3.org/2000/svg' height='40' viewBox='0 96 960 960' width='40'><path d='M480 684.077 267.692 471.769l24.257-24.256L480 635.718l188.051-188.051 24.257 24.256L480 684.077Z'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 70%;
}

.loader {
  display: flex;
}

.loader::after {
  content: "";
  width: 43px;
  height: 43px;
  border: 10px solid #dddddd;
  border-top-color: var(--main-green);
  border-radius: 50%;
  animation: loading 1s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

svg {
  fill: var(--main-green);
}

h1 {
  font-size: 3rem; /* 48px */
  line-height: 1;
  font-weight: 600;
}

h2 {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
  font-weight: 600;
}

h3 {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  font-weight: 600;
}

h4 {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  font-weight: 600;
}

a,
p,
span,
div {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.75rem; /* 60px */
    line-height: 1;
  }

  h2 {
    font-size: 3rem; /* 48px */
    line-height: 1;
  }

  h3 {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
  }

  h4 {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
  }
}
